{% extends 'hms/index.html' %}
{% block title %}appointment successful{% endblock %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'apt/styleform.css' %}"/>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="text-center">
                <h1 style="font-family:El Messiri; color:#2d948b;">Appoinment has been made successfully</h1>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
