<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}FindDoctor{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'hms/images/logo.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=El Messiri"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine"/>
    <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Satisfy">
    <link rel="stylesheet" type="text/css" href="{% static 'hms/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'hms/thumbnail.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="{% static 'hms/js/main.js' %}"></script>-->
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'hms:index' %}">FindDoctor</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block hospitals_active %}{% endblock %}">
                    <a style="font-family:El Messiri; font-size:18px;" href="{% url 'hms:hospital_index' %}">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Hospitals
                    </a>
                </li>
                <li class="{% block doctors_active %}{% endblock %}">
                    <a style="font-family:El Messiri; font-size:18px;" href="{% url 'hms:doctor_index' %}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Doctors
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'hms:index' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="{% block make_apt %}{% endblock %}">
                    <a style="font-family:El Messiri; font-size:18px;" href="{% url 'apt:make_appointment' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  Make Appoinment
                    </a>
                </li>
                <li>
                    <a style="font-family:El Messiri; font-size:18px;" href="{% url 'hms:logout_user' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>

{% block body %}
<div class="container-fluid">
    <div class="row">
        {% for h in hospitals %}
            <div class="col-xs-offset-1 col-md-8">
                <div class="thumbnail text-center">
                    <div class="relative">
                        <br>
                        <a href="{% url 'hms:hospital_details' h.id %}">
                            <img src="{{ h.image.url }}" width="750" height="500" style="border:10px solid #2d948b">
                        </a><br>
                        <a style="font-family:El Messiri; font-size:24px; color:#2d948b;" href="{% url 'hms:hospital_details' h.id %}">&nbsp; {{h.hospital_name}}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</body>
</html>

<!-- url 'hms:hospital_details' h.id -->
